name: build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/**

jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
      pull-requests: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/horizon
          ref: 47921222008cbe9a230f64f8e3335d203a53d714 # master

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/designate-dashboard
          ref: f235f5e601a909c49d040cd1f9e512661e56d8fd # master

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/heat-dashboard
          ref: eb35bc97ad99c7263797659e1ef19d372557e330 # master

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/ironic-ui
          ref: acb691bf705b11dbb0b3182a18d44deeff2ee3a1 # master

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/magnum-ui
          ref: ae73f2530541fea448882f9009a1acff6d2c43ab # master

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/manila-ui
          ref: d1b4008cfaf18b8bacadf1086cd39d1f418ae792 # master

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/neutron-vpnaas-dashboard
          ref: 546a550fe1de1889497803824f29764c9367b02d # master

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/octavia-dashboard
          ref: 674b34f2bec18c5ef2b18bdbeb7b0e1c43428328 # master

      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@main
        with:
          image-name: horizon
          build-contexts: |
            horizon=openstack/horizon
            designate-dashboard=openstack/designate-dashboard
            heat-dashboard=openstack/heat-dashboard
            ironic-ui=openstack/ironic-ui
            magnum-ui=openstack/magnum-ui
            manila-ui=openstack/manila-ui
            neutron-vpnaas-dashboard=openstack/neutron-vpnaas-dashboard
            octavia-dashboard=openstack/octavia-dashboard
          push: ${{ github.event_name != 'pull_request' }}
