name: build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/**

jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2023.2
        with:
          repository: openstack/horizon
          ref: 2023.2-eol

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2023.2
        with:
          repository: openstack/designate-dashboard
          ref: 2023.2-eol

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2023.2
        with:
          repository: openstack/heat-dashboard
          ref: 2023.2-eol

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2023.2
        with:
          repository: openstack/ironic-ui
          ref: 2023.2-eol

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2023.2
        with:
          repository: openstack/magnum-ui
          ref: 2023.2-eol

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2023.2
        with:
          repository: openstack/manila-ui
          ref: 2023.2-eol

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2023.2
        with:
          repository: openstack/neutron-vpnaas-dashboard
          ref: 2023.2-eol

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2023.2
        with:
          repository: openstack/octavia-dashboard
          ref: 2023.2-eol

      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@2023.2
        with:
          image-name: horizon
          build-contexts: |
            horizon=openstack/horizon
            designate-dashboard=openstack/designate-dashboard
            heat-dashboard=openstack/heat-dashboard
            ironic-ui=openstack/ironic-ui
            magnum-ui=openstack/magnum-ui
            manila-ui=openstack/manila-ui
            neutron-vpnaas-dashboard=openstack/neutron-vpnaas-dashboard
            octavia-dashboard=openstack/octavia-dashboard
          push: ${{ github.event_name != 'pull_request' }}
